// global varibales
$color-cyan: #22c8e5;
$color-blue: #5d34af;
$color-orange: #f7345e;

$color-primary: #1c0950;
$color-gray: #51585f;

$small: 2rem;
$medium: 3rem;
$high: 4rem;

// basic reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.4%;
}
body {
  color: $color-gray;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-family: "Raleway", sans-serif;
}
//layouts
.header {
  margin: 2rem 0;
}

//componets
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

  &-title {
    margin-top: 0.5rem;
    &-icon {
      width: 15rem;
    }
  }
  &-nav {
    &-list {
      display: flex;
      list-style: none;
      &-item {
        padding: 1rem 1.5rem;
      }
      &-link {
        text-decoration: none;
        transition: all 0.3s ease;
        color: $color-primary;
        &:hover {
          color: $color-gray;
        }
      }
      &-active {
        color: $color-blue;
        font-weight: 600;
      }
    }
  }
}
.btn {
  padding: 1rem 2rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  &--cyan {
    background: $color-cyan;
    color: #fff;
    &:hover {
      background-color: $color-orange;
      color: #fff;
    }
  }
}
